In [1]:
import pandas as pd

In [3]:
# 2 main datatypes

series = pd.Series(["BMW", "Toyota", "Honda"])

In [4]:
series

0       BMW
1    Toyota
2     Honda
dtype: object

In [5]:
# series = 1-dimensioal

In [6]:
colours = pd.Series(["Red", "Blue", "White"])

In [7]:
colours

0      Red
1     Blue
2    White
dtype: object

In [8]:
# DataFrame = 2-dimensional 

car_data = pd.DataFrame({"Car make": series, "Colour": colours})

In [9]:
car_data

  Car make Colour
0      BMW    Red
1   Toyota   Blue
2    Honda  White

In [10]:
# You can make data frame out of series

In [11]:
#Import Data 
car_sales = pd.read_csv("car-sales.csv")

In [12]:
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [28]:
car_sales[["Make", "Colour"]]

     Make Colour
0  Toyota  White
1   Honda    Red
2  Toyota   Blue
3     BMW  Black
4  Nissan  White
5  Toyota  Green
6   Honda   Blue
7   Honda   Blue
8  Toyota  White
9  Nissan  White

In [39]:
 #exporting_car_sales

In [41]:
car_sales.to_csv("exported-car-sales.csv")

In [42]:
exported_car_sales = pd.read_csv("exported-car-sales.csv")

In [43]:
exported_car_sales

   Unnamed: 0    Make Colour  Odometer_(KM)  Doors       Price
0           0  Toyota  White         150043      4   $4,000.00
1           1   Honda    Red          87899      4   $5,000.00
2           2  Toyota   Blue          32549      3   $7,000.00
3           3     BMW  Black          11179      5  $22,000.00
4           4  Nissan  White         213095      4   $3,500.00
5           5  Toyota  Green          99213      4   $4,500.00
6           6   Honda   Blue          45698      4   $7,500.00
7           7   Honda   Blue          54738      4   $7,000.00
8           8  Toyota  White          60000      4   $6,250.00
9           9  Nissan  White          31600      4   $9,700.00

In [38]:
car_sales.query('Odometer_(KM) > 40000')

ValueError: "Odometer_" is not a supported function

## Describe Data

In [47]:
#Attributes - it does not have a parenthesis
#Function - has a parenthesis to run steps
car_sales.dtypes

Make             object
Colour           object
Odometer_(KM)     int64
Doors             int64
Price            object
dtype: object

In [49]:
car_sales.columns

Index(['Make', 'Colour', 'Odometer_(KM)', 'Doors', 'Price'], dtype='object')

In [50]:
car_sales.describe

<bound method NDFrame.describe of      Make Colour  Odometer_(KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00>

In [53]:
car_sales.index

RangeIndex(start=0, stop=10, step=1)

In [54]:
#Functions can be called for these dataframes

In [55]:
#tells a lot of things about the dataframe but summarized 
car_sales.describe()

       Odometer_(KM)      Doors
count      10.000000  10.000000
mean    78601.400000   4.000000
std     61983.471735   0.471405
min     11179.000000   3.000000
25%     35836.250000   4.000000
50%     57369.000000   4.000000
75%     96384.500000   4.000000
max    213095.000000   5.000000

In [56]:
car_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           10 non-null     object
 1   Colour         10 non-null     object
 2   Odometer_(KM)  10 non-null     int64
 3   Doors          10 non-null     int64
 4   Price          10 non-null     object
dtypes: int64(2), object(3)
memory usage: 528.0+ bytes

In [61]:
#mean / average 
car_sales.mean()

Odometer_(KM)    78601.4
Doors                4.0
dtype: float64

In [58]:
car_prices = pd.Series([3000, 1500, 111250])
car_prices.mean()

38583.333333333336

In [62]:
car_sales.sum()

Make             ToyotaHondaToyotaBMWNissanToyotaHondaHondaToyo...
Colour               WhiteRedBlueBlackWhiteGreenBlueBlueWhiteWhite
Odometer_(KM)                                               786014
Doors                                                           40
Price            $4,000.00$5,000.00$7,000.00$22,000.00$3,500.00...
dtype: object

In [63]:
car_sales["Doors"].sum()

40

In [64]:
#to see how many rows are there 
len(car_sales)

10

## Selecting and Viewing Data

In [70]:
#shows top 5 rows of the table 
car_sales.head()

     Make Colour  Odometer_(KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00

In [69]:
#shows bottom 5 rows of the table
car_sales.tail()

     Make Colour  Odometer_(KM)  Doors      Price
5  Toyota  Green          99213      4  $4,500.00
6   Honda   Blue          45698      4  $7,500.00
7   Honda   Blue          54738      4  $7,000.00
8  Toyota  White          60000      4  $6,250.00
9  Nissan  White          31600      4  $9,700.00

In [73]:
# .loc & .iloc
animals = pd.Series(["cat", "dog", "bird", "panda", "snake"], index = [0, 3, 9, 8, 3])

In [74]:
animals

0      cat
3      dog
9     bird
8    panda
3    snake
dtype: object

In [77]:
animals.loc[3] #this locates the value from using the index (3)

3      dog
3    snake
dtype: object

In [78]:
animals.loc[9]

'bird'

In [80]:
car_sales.loc[3]

Make                    BMW
Colour                Black
Odometer_(KM)         11179
Doors                     5
Price            $22,000.00
Name: 3, dtype: object

In [82]:
# .iloc refers to position of the index in order

animals.iloc[4]

'snake'

In [83]:
car_sales.iloc[3]

Make                    BMW
Colour                Black
Odometer_(KM)         11179
Doors                     5
Price            $22,000.00
Name: 3, dtype: object

In [84]:
#this does index slicing ; start from -, end at 3 (but doesnt include 3)
animals.iloc[:3]

0     cat
3     dog
9    bird
dtype: object

In [85]:
#looks at all values in the column 
car_sales["Make"]

0    Toyota
1     Honda
2    Toyota
3       BMW
4    Nissan
5    Toyota
6     Honda
7     Honda
8    Toyota
9    Nissan
Name: Make, dtype: object

In [86]:
car_sales.Make

0    Toyota
1     Honda
2    Toyota
3       BMW
4    Nissan
5    Toyota
6     Honda
7     Honda
8    Toyota
9    Nissan
Name: Make, dtype: object

In [88]:
car_sales[car_sales["Make"] == "Toyota"]

     Make Colour  Odometer_(KM)  Doors      Price
0  Toyota  White         150043      4  $4,000.00
2  Toyota   Blue          32549      3  $7,000.00
5  Toyota  Green          99213      4  $4,500.00
8  Toyota  White          60000      4  $6,250.00

In [93]:
car_sales[car_sales["Odometer_(KM)"] > 100000]

     Make Colour  Odometer_(KM)  Doors      Price
0  Toyota  White         150043      4  $4,000.00
4  Nissan  White         213095      4  $3,500.00

In [94]:
pd.crosstab(car_sales["Make"], car_sales["Doors"])

Doors   3  4  5
Make
BMW     0  0  1
Honda   0  3  0
Nissan  0  2  0
Toyota  1  3  0

In [97]:
#Group by function
car_sales.groupby(["Make"]).mean()

        Odometer_(KM)  Doors
Make
BMW      11179.000000   5.00
Honda    62778.333333   4.00
Nissan  122347.500000   4.00
Toyota   85451.250000   3.75

In [104]:
#convert a pandas column from string to int using regex
car_sales["Price"] = (car_sales["Price"].str.replace('[\$\,\.]','').astype(int))

AttributeError: Can only use .str accessor with string values!

In [105]:
car_sales["Price"] = car_sales["Price"]/100

In [106]:
car_sales

     Make Colour  Odometer_(KM)  Doors    Price
0  Toyota  White         150043      4   4000.0
1   Honda    Red          87899      4   5000.0
2  Toyota   Blue          32549      3   7000.0
3     BMW  Black          11179      5  22000.0
4  Nissan  White         213095      4   3500.0
5  Toyota  Green          99213      4   4500.0
6   Honda   Blue          45698      4   7500.0
7   Honda   Blue          54738      4   7000.0
8  Toyota  White          60000      4   6250.0
9  Nissan  White          31600      4   9700.0

# Manipulating Data